// ----- 版面大小 -----
.w-25p {
  width: 25%;
}
.w-40p {
  width: 40%;
}
.w-50p {
  width: 50%;
}
.w-60p {
  width: 60%;
}
.w-75p {
  width: 75%;
}
.w-100p {
  width: 100%;
}
.h-100p {
  height: 100%;
}

// ----- 間距 -----
// ---  ml --- margin-left
.ml-tiny {
  margin-left: $basic_unit * 0.5;
}
.ml-1 {
  margin-left: $basic_unit !important;
}
// m1 - 24
.ml-xs {
  margin-left: $basic_unit * 1.5;
}

// ----- 間距 -----
// --- mr --- margin-right
.mr-tiny {
  margin-right: $basic_unit * 0.5;
}
.mr-1 {
  margin-right: $basic_unit !important;
}
// mr - 24
.mr-xs {
  margin-right: $basic_unit * 1.5;
}
// mr - 30
.mr-sm {
  margin-right: $basic_unit * 1.875;
}
// mr - 48
.mr-m {
  margin-right: $basic_unit * 3;
}

// ----- 間距 -----
// --- mt --- margin-top
.mt-tiny {
  margin-top: $basic_unit * 0.5;
}
// mt - 16
.mt-1 {
  margin-top: $basic_unit !important;
}
// mt - 24
.mt-xs {
  margin-top: $basic_unit * 1.5;
}
.mt-m {
  margin-top: $basic_unit * 3;
}

// ----- 間距 -----
// mb --- margin-bottom
.mb-mini {
  margin-bottom: $basic_unit * 0.25;
}
.mb-tiny {
  margin-bottom: $basic_unit * 0.5;
}
.mb-1 {
  margin-bottom: $basic_unit !important;
}
// mb - 24
.mb-xs {
  margin-bottom: $basic_unit * 1.5;
}
// mb - 48
.mb-m {
  margin-bottom: $basic_unit * 3;
}
// mb - 60
.mb-lg {
  margin-bottom: $basic_unit * 3.75;
}
// mb - 72
.mb-xl {
  margin-bottom: $basic_unit * 4.5;
}

// ----- 間距 -----
// pt --- padding-top
.pt-tiny {
  padding-top: $basic_unit * 0.5;
}
.pt-1 {
  padding-top: $basic_unit !important;
}
// pt - 24
.pt-xs {
  padding-top: $basic_unit * 1.5;
}
// pt - 48
.pt-m {
  padding-top: $basic_unit * 3;
}
// pt - 60
.pt-lg {
  padding-top: $basic_unit * 3.75;
}

// ----- 間距 -----
// pb --- padding-bottom
.pb-tiny {
  padding-bottom: $basic_unit * 0.5;
}
.pb-1 {
  padding-bottom: $basic_unit !important;
}
// pb - 24
.pb-xs {
  padding-bottom: $basic_unit * 1.5;
}
// pb - 48
.pb-m {
  padding-bottom: $basic_unit * 3;
}
// pb - 60
.pb-lg {
  padding-bottom: $basic_unit * 3.75;
}
// pb - 72
.pb-xl {
  padding-bottom: $basic_unit * 4.5;
}

// ----- 間距 -----
// pr --- padding-right
.pr-tiny {
  padding-right: $basic_unit * 0.5;
}
.pr-1 {
  padding-right: $basic_unit !important;
}
// pr - 24
.pr-xs {
  padding-right: $basic_unit * 1.5;
}
// pr - 36
.pr-sm {
  padding-right: $basic_unit * 2.25;
}
// pr - 48
.pr-m {
  padding-right: $basic_unit * 3;
}

// ----- 間距 -----
// pl --- padding-light
.pl-tiny {
  padding-left: $basic_unit * 0.5;
}
.pl-1 {
  padding-left: $basic_unit !important;
}
// pl - 24
.pl-xs {
  padding-left: $basic_unit * 1.5;
}
// pl - 36
.pl-sm {
  padding-left: $basic_unit * 2.25;
}

// ----- 排版 -----
// flex
.flex-1 {
  flex: 1;
}
.d-flex {
  display: flex;
}
.flex-d-col {
  flex-direction: column;
}
.flex-d-col-r {
  flex-direction: column-reverse;
}
.flex-d-row-r {
  flex-direction: row-reverse;
}
.flex-wrap-w {
  flex-wrap: wrap;
}
// justify-content
.jc-flex-start {
  justify-content: flex-start;
}
.jc-center {
  justify-content: center;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-space-between {
  justify-content: space-between;
}
// align-items
.ai-flex-start {
  align-items: flex-start;
}
.ai-center {
  align-items: center;
}
.ai-flex-end {
  align-items: flex-end;
}

// ----- 文字對齊 -----
// text-align
.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-justify {
  text-align: justify;
}

// ----- 字體大小 -----
// font-size
// fz - 12
.fz-ets {
  font-size: $basic_unit * 0.75;
}
// fz - 14
.fz-xxs {
  font-size: $basic_unit * 0.875;
}
// fz - 20
.fz-xs {
  font-size: $basic_unit * 1.25;
}
// fz - 24
.fz-sm {
  font-size: $basic_unit * 1.5;
}
// fz - 48
.fz-m {
  font-size: $basic_unit * 3;
}
// fz - 64
.fz-lg {
  font-size: $basic_unit * 4;
}

// ----- 字體樣式 -----
.fw-bold {
  font-weight: bolder;
}
.font-primary {
  font-family: $font-primary, "Microsoft JhengHei";
}
.font-secondary {
  font-family: $font-secondary;
}
.font-logo {
  font-family: $font-logo;
}

// ----- 文字顏色 -----
.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
.color-tertiary {
  color: $color-tertiary;
}
.color-basic-b {
  color: $color-basic-b;
}
.color-basic-w {
  color: $color-basic-w;
}

// ----- 背景顏色 -----
.bgc-primary {
  background-color: $color-primary;
}
.bgc-secondary {
  background-color: $color-secondary;
}
.bgc-tertiary {
  background-color: $color-tertiary;
}
.bgc-basic-w {
  background-color: $color-basic-w;
}

// 游標
.pointer {
  cursor: pointer;
}
