.banner {
    height: 60vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    &-sm {
        height: 40vh;
    }

    &-lg {
        height: 100vh; 
    }

    &--index {
        background-image: url('~@/../static/images/banner_index.jpg');
    }

    &--about {
        background-image: url('~@/../static/images/banner_about.jpg');
    }

    &--prods {
        background-image: url('~@/../static/images/banner_product.jpg');
    }

    &--prod {
        background-image: url('https://images.unsplash.com/photo-1535182463927-440364075d9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80');
    }

    &--cart {
        background-image: url('~@/../static/images/banner_cart.jpg');
    }

    &--gallery {
        background-image: url('https://images.unsplash.com/photo-1538061115539-7bdd16b6ecc4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1014&q=80');
    }

    &--success {
        height: 92.5vh;
        background-image: url('~@/../static/images/bg_success.jpg');
    }

    &--login {
        background-image: url('https://images.unsplash.com/photo-1586206079514-a79ad7a353b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
    }
}