// 首頁用 board 開始
.board {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: hsla(0, 0%, 0%, 0.3);
            z-index: 2;
        }
        img {
            transform: scale(1.2);
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
    }
    &--md {
        width: 50%;
        height: 350px;
    }
    .board-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-family: $font-primary;
        color: $color-basic-w;
        z-index: 3;
    }
}
// 首頁用 board 結束


/* ------------------------------*/ 

// gallery 用開始
// .boards-wrap {
//     height: 50vh;
// }

#silentbox-gallery {
    height: 100%;
    .silentbox-item {
        width: 25%;
        height: 42vh;
        position: relative;
        overflow: hidden;
        &:hover {
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                background-color: hsla(0, 0%, 0%, 0.3);
                z-index: 2;
            }
            img {
                transform: scale(1.2);
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .5s;
        }
    }
    .silentbox-item:first-child {
        width: 50%;
        // height: 100%;
    }
    .silentbox-item:last-child {
        width: 50%;
        // height: 100%;
    }
}

// #silentbox-overlay__description

// .board-md {
//     height: 100%;
//     position: relative;
//     overflow: hidden;
//     cursor: pointer;
//     &:hover {
//         &::before {
//             content: '';
//             width: 100%;
//             height: 100%;
//             position: absolute;
//             top: 0;
//             left: 0;
//             display: block;
//             background-color: hsla(0, 0%, 0%, 0.3);
//             z-index: 2;
//         }
//         img {
//             transform: scale(1.2);
//         }
//     }
//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         transition: .5s;
//     }
// }

.board-gallery-tit {
    padding-right: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: $color-basic-w;
    overflow: hidden;
    z-index: 3;
    &:hover {
        color: $color-secondary;
    }
}