.btn {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;

    &-dark {
        color: $color-basic-w;
        background-color: $color-basic-b;
        &:hover {
            background-color: lighten($color: $color-basic-b, $amount: 5);
        }
    }

    &-pri {
        color: $color-basic-w;
        background-color: $color-primary;
    }
}