.card {
    .card-head {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .prod-pic {
        img {
            transition: .5s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .card-content {
        display: flex;
        flex-direction: column;
        .card-tit {
            color: $color-primary;
            text-align: left;
            font-size: 18px;
            font-family: $font-primary;
        }
    }
}


.about-propic {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}