.input {
    padding: 8px;
    border-radius: 4px;
    outline-width: 0;
    outline: none;
    border: none;
    color: $color-primary;
    text-align: center;

    &-line {
        border-bottom: 1px solid transparent;
        outline-width: 0;
        outline: none;
        background-color: transparent;
        border-radius: 0px;
        &::placeholder {
            font-size: 14px;
            color: #ccc;
            text-align: left;
        }
        &:focus {
            border-bottom: 1px solid $color-secondary;
        }
    }

    &-label {
        font-weight: 600;
        font-family: $font-secondary;
        text-align: left;
        margin-bottom: 8px;
        color: $color-primary;
    }

    &-edit {
        width: 50%;        
        color: $color-basic-b;
        border-radius: 0px;
        border-bottom: 1px solid $color-secondary;
        background-color: transparent;
        text-align: left;
    }

    &-edit-label {
        width: 40%; 
        margin-bottom: 8px;
        text-align: left;
        font-family: $font-primary;
        color: $color-primary;
    }
}

.sub-input {
    width: 100%;
}

select {
    width: 50%; 
    appearance:none;  // 取消箭頭
    padding: 8px !important;
    border: 0;
    border-bottom: 1px solid $color-secondary;
    padding: 4px;
    font-family: $font-secondary;
    option {
        padding: 8px;
    }
}