.input {
    padding: 8px;
    border-radius: 4px;
    outline-width: 0;
    outline: none;
    border: none;
    color: $color-secondary;
    text-align: center;

    &-line {
        border-bottom: 1px solid $color-primary;
        outline-width: 0;
        outline: none;
        background-color: transparent;
        border-radius: 0px;
        &::placeholder {
            font-size: 14px;
            color: #ccc;
            text-align: left;
        }
    }
    &-label {
        font-weight: 600;
        font-family: $font-secondary;
        text-align: left;
        margin-bottom: 8px;
        color: $color-primary;
    }
}

.recipient-warn {
    font-size: 12px;
    color: salmon;
    height: 5px;
}