.links {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-secondary;
  }

  &-pri {
    color: $color-primary;
    &:hover {
      color: $color-secondary;
    }
  }

  &-wh {
    color: $color-basic-w;
    &:hover {
      color: $color-basic-b;
    }
  }
}
