.l-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 16px 36px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--admin {
        width: 240px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }
    &__bg--pri {
        padding: 0;
        background: $color-primary;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__menu--h {
        display: block;
        padding-top: 60px;
    }
}

.c-navItem {
    margin-right: 16px;
    font-family: $font-secondary;
    &--admin {
        width: 100%;
        margin: auto;
        margin-top: 16px;
        font-family: $font-primary;
    } 
}

.navbar {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 36px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 66;
}

.nav-logo {
    color: $color-basic-w;
    font-size: 36px;
    font-family: $font-logo;
}