.navbar {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 66;
  @include screen-sm {
    flex-direction: column;
  }
}

.nav-logo {
  color: $color-basic-w;
  font-size: 36px;
  font-family: $font-logo;

  &-pri {
    color: $color-primary;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  color: $color-basic-w;
  @include screen-sm {
    display: none;
    font-size: 14px;
  }
  &.more {
    display: flex;
  }
}

.nav-more {
  display: none;
  margin-top: 8px;
  color: $color-basic-w;
  .material-icons {
    font-size: 20px;
  }
  @include screen-sm {
    display: block;
  }
}
