.backend-nav {
    margin-bottom: 36px;
    .links {
        &.is-active {
            &::after {
                content: '';
                width: 100%;
                height: 4px;
                display: block;
                margin-top: 4px;
                background: $color-secondary;
            }
        }
    }
}

.backend-card {
    width: 100%;
    .card-head {
        width: 40%;
    }
    .card-content {
        width: 60%;
        padding-left: 16px;
        box-sizing: border-box;
        .material-icons {
            cursor: pointer;
            &:hover {
                color: lighten($color: $color-basic-b, $amount: 16);
            }
        }
    }
}

.backend-preview-pic {
    height: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}