.login-block {
    width: 25%;
    min-height: 100vh;
    padding: 200px 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -6px 0px 10px rgba(120, 120, 120, 0.5);
}