.cart-prod {
    border-bottom: 1px solid $color-tertiary;
    .cart-prodImg {
        height: 160px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.prod-gallery {
    height: 520px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.success-txt {
    color: $color-basic-b;
    display: none;
}

.card-recom {
    box-sizing: border-box;
    width: 20%;
    padding: 8px;
}